<!DOCTYPE html>
<html>
  <body>
    <h1>Woops, ceva nu a mers bine!</h1>
    <p>Titlu eroare: <%= title %></p>
    <p>Descriere: <%= text %></p>
    <img src="<%- img %>" width="350" height="350" />
    <br />
    <a href="/">Mergi acasa</a>
  </body>
</html>
