<!DOCTYPE html>
<html>
  <head>
    <title>403 Forbidden</title>
    <style>
      body {
        width: 600px;
        margin: 40px auto;
        font-family: "Arial", sans-serif;
        background-color: #f7f7f7;
        color: #444;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #c8c8c8;
      }
      h1 {
        font-size: 50px;
        color: #ff0000;
      }
    </style>
  </head>
  <body>
    <h1>403</h1>
    <p>Forbidden: You don't have permission to access this resource.</p>
  </body>
</html>
