<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resurse/css/stil.css">
    <title>Galerie</title>
</head>
<body>
    <%- include('../fragmente/navbar'); %>
    <%- include('../fragmente/gallery', { images: images, galleryPath: galleryPath }); %>
</body>
</html>
