<footer>
    <div class="container" id="container">
        <a href="#" id="link-top" title="mergi sus"></a>
        <a href="#" id="sagetica"></a>
    </div>
    <address>
        Strada x, nr 1, Bucuresti, sector 3, Romania <br/>
        <a href="tel:+40720424123">Telefon</a><br/>
        <a href="mailto:GadgetHaven@gmail.com">E-mail</a><br/>
        <a href="https://wa.me/1XXXXXX">Whatsapp</a><br/>
        <a href="">Skype</a><br/>
    </address>
    <small>
        Copyright &copy; <time datetime="2024-03-10 15:53">duminica, 10 martie 2024</time>
    </small>
</footer>